In [18]:
!pip install docxtpl -q

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\victo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [19]:
import pandas as pd
from docxtpl import DocxTemplate

In [ ]:
doc = DocxTemplate("reconocimiento empleado del mes.docx")

In [21]:
!pip install openpyxl -q

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\victo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [35]:
df = pd.read_excel('Empleados del mes.xlsx')

In [36]:
df

  Nombres de Empleados Horas_de_trabajo_en_el_mes  Clientes_atendidos
0        Victor Davila                    240hrs.                  19
1      Ronald Trujillo                    230hrs.                  16
2       Daniel Espitia                    225hrs.                  13
3         Oscar Cachon                    235hrs.                  18
4             Son Goku                    245hrs.                  25
5       Naruto Uzumaki                    243hrs.                  20

In [43]:
for indice, fila in df.iterrows():
    contenido = {
        'Nombres_de_empleados': fila["Nombres de Empleados"],
        'Horas_de_trabajo_en_el_mes': fila['Horas_de_trabajo_en_el_mes'],
        'Clientes_atendidos': fila['Clientes_atendidos']
    }

    doc.render(contenido)
    doc.save(f"empleado {fila['Nombres de Empleados']}.docx")

    print(contenido)

{'Nombres_de_empleados': 'Victor Davila', 'Horas_de_trabajo_en_el_mes': '240hrs.', 'Clientes_atendidos': 19}
{'Nombres_de_empleados': 'Ronald Trujillo', 'Horas_de_trabajo_en_el_mes': '230hrs.', 'Clientes_atendidos': 16}
{'Nombres_de_empleados': 'Daniel Espitia', 'Horas_de_trabajo_en_el_mes': '225hrs.', 'Clientes_atendidos': 13}
{'Nombres_de_empleados': 'Oscar Cachon', 'Horas_de_trabajo_en_el_mes': '235hrs.', 'Clientes_atendidos': 18}
{'Nombres_de_empleados': 'Son Goku', 'Horas_de_trabajo_en_el_mes': '245hrs.', 'Clientes_atendidos': 25}
{'Nombres_de_empleados': 'Naruto Uzumaki', 'Horas_de_trabajo_en_el_mes': '243hrs.', 'Clientes_atendidos': 20}

In [ ]:
'''
üèÜ 4. Reconocimiento a empleados del mes

Instrucciones:
- Carga un Excel con m√©tricas de desempe√±o.
- Genera un diploma en Word para los mejores empleados.
- Incluye nombre, logro destacado y firma del gerente.

Requerimientos:
- pandas, docxtpl, openpyxl
- Plantilla Word tipo diploma '''